{{> head}} {{> navbar}}

<div class="container">
    <br>
    <div class="row">
        <div class="col-8">
            <h2>About Page</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quidem harum vel dolore blanditiis voluptatibus,
                facilis enim illum inventore facere voluptate repellat, adipisci, dolorem sed. Reprehenderit culpa laudantium
                inventore distinctio.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/mr.gif" class="rounded ">
        </div>
    </div>

</div>

{{> footer}}